<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com" matchAll="true"/>
        <serverUrl url="http://sampleserver3.arcgisonline.com" matchAll="true"/>
        <serverUrl url="http://sampleserver6.arcgisonline.com/arcgis/rest/services" matchAll="true"/>
        <serverUrl url="http://tiles1.arcgis.com/tiles/" matchAll="true"/>
        <serverUrl url="http://tiles2.arcgis.com/tiles/" matchAll="true"/>
        <serverUrl url="http://tiles3.arcgis.com/tiles/" matchAll="true"/>
        <serverUrl url="http://tiles4.arcgis.com/tiles/" matchAll="true"/>
        <serverUrl url="http://www.mapabase.es/ArcGIS/" matchAll="true"/>
        <serverUrl url="http://server.arcgisonline.com/ArcGIS/rest/services/" matchAll="true"/>
        <serverUrl url="http://services.arcgisonline.com/ArcGIS/rest/services/" matchAll="true"/>
        <serverUrl url="http://localhost/" matchAll="true"/>
        <serverUrl url="http://199.21.241.37/ArcGIS/rest/services/" matchAll="true"/>
        <serverUrl url="http://134.67.223.130/arcgis/rest/services/" matchAll="true"/>
        <serverUrl url="http://199.21.241.172/arcgis/rest/services/" matchAll="true"/>
        <serverUrl url="http://maps2.northpointgis.com/arcgis/rest/services/" matchAll="true"/>
        <serverUrl url="http://maps.northpointgis.com/arcgis/rest/services/" matchAll="true"/>
        <serverUrl url="http://tasks.arcgisonline.com/ArcGIS/rest/services/" matchAll="true"/>
        <serverUrl url="http://maps.bayfieldcounty.org/ArcGIS/rest/services/" matchAll="true"/>
        <serverUrl url="http://npgsdev/ArcGIS/tokens/" matchAll="true"/>
        <serverUrl url="http://199.21.241.37/ArcGIS/tokens/" matchAll="true"/>
        <serverUrl url="http://199.21.241.172/ArcGIS/tokens/" matchAll="true"/>
        <serverUrl url="http://sampleserver1.arcgisonline.com/ArcGIS/rest/services/" matchAll="true"/>),
        <serverUrl url="http://sampleserver2.arcgisonline.com/ArcGIS/rest/services/" matchAll="true"/>),
        <serverUrl url="http://sampleserver3.arcgisonline.com/ArcGIS/rest/services/" matchAll="true"/>),
        <serverUrl url="http://sampleserver5.arcgisonline.com/ArcGIS/rest/services/" matchAll="true"/>),
        <serverUrl url="http://sampleserver1a.arcgisonline.com/arcgisoutput/" matchAll="true"/>),
        <serverUrl url="http://sampleserver1b.arcgisonline.com/arcgisoutput/" matchAll="true"/>),
        <serverUrl url="http://sampleserver1c.arcgisonline.com/arcgisoutput/" matchAll="true"/>)
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
